{
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb"
    ],
    "parser": "babel-eslint",
    "rules": {
        "indent": [
            "warn",
            4
        ],
        "react/jsx-indent": [
            "warn",
            4,
            {
                "checkAttributes": true
            }
        ],
        "react/react-in-jsx-scope": "off",
        "react/destructuring-assignment": "off",
        "react/state-in-constructor": "off",
        "react/jsx-filename-extension": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "no-nested-ternary": "warn",
        "react/prop-types": "warn",
        "linebreak-style": 0,
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ]
    }
}