.container {
    background-image: url('../../images/specialtys-bg.png');
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.events {
&__title {
    display: block;
    font: normal bold 12px/14px "Open Sans";
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px 0;
} 

&__wrapper {
    display: flex;
    justify-content: center;
}

&__imageWrap {
    display: flex;
    position: relative;

    &.reverse {
        flex-direction: row-reverse;

        .events__square {
            left: unset;
            right: -16%;
        }
    }
}

&__image {
    width: 475px;
    height: 475px;
}

&__square {
    position: absolute;
    top: 50%;
    left: -18%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
}

&__scheduleWrap {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

&__schedule {
    font: normal 12px/12px "Open Sans";
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
}

&__content {
    position: absolute;
    width: 398px;
    height: 70px;
    bottom: 43%;
    right: -26%;
    font: 24px/12px "Banny";
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    background-color: #000;
    color: #FFFFFF;
    transform: rotate(90deg);

    &.reverse {
        transform: rotate(-90deg);
        left: -26%;

    }
}
}
