.container {
    max-width: 1440px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.direction {
    &__map {
        height: 475px;
        background-image: url('../../images/map.png');
    }
}