.container {
    position: relative;
    height: 699px;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-image: url('../../images/header-bg.png');
}
.hero {
&__logo {
    position: absolute;
    margin: auto;
    margin-top: -72px;
    top: 0; 
    left: 0; 
    right: 0;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px; 
}

&__vertical {
    display: inline-block;
    color: #ffffff;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin: 150px 0 0 81px;
}

&__heroContainer {   
    position: absolute;
    max-width: 998px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

&__title {
    font: 96px/0px "Banny-Round";
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 60px;
}

&__titleMain {
display: block;
margin-bottom: 60px;
font: normal bold 12px/14px "Open Sans";
align-items: center;
text-align: center;
letter-spacing: 0.5em;
text-transform: uppercase;
color: #FFFFFF;
}

&__line {
    border: none; 
    background-color: #E8C300; 
    color: #E8C300;
    width: 60px;
    height: 5px; 
}

&__buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

&__addBtn {
    width: 200px;
    height: 60px;
    margin: 60px 40px 0 0 ;
    color: #fff; 
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

&:last-child {
    margin-right: 0;
}

&:hover, &:focus {
    background: #E8C300;
}
}

&__roundBtn {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: auto;
    margin-top: 92px;
}

&__socialBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: -220px 79px 0 0; 
}

&__socialList {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 4px 2px;
    margin-bottom: 20px;
  
    &:hover, &:focus {
    color:  #E8C300;
}
}
}



